<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Hourly</h1>
{{ range $step := . }}
{{ $step.FromTime }} {{ $step.ValueIncVat }} <br>
{{ end }}
    <form
      id="form"
      enctype="multipart/form-data"
      action="/upload"
      method="POST"
    >
      <input class="input file-input" type="file" name="file" multiple />
      <button class="button" type="submit">Submit</button>
    </form>
</body>
</html>